<p>child works!</p>
<form *ngIf="loginForm" [formGroup]="loginForm">
  <div gdRows>
      <input matInput formControlName="userId" placeholder='username' autocomplete="off"
        mxAcPreventCopyPaste onDrag="return false" onDrop="return false" onPaste="return false" maxlength="51">
      <input matInput formControlName="password"
        placeholder='Password' autocomplete="off" mxAcPreventCopyPaste onDrag="return false"
        onDrop="return false">
      <input matInput formControlName="password123"
        placeholder='Password' autocomplete="off" mxAcPreventCopyPaste onDrag="return false"
        onDrop="return false">
  </div>
  <button mat-raised-button color="primary" type="submit"
    class="mx-btn-sign-in mx-primay-btn" (click)="onSignIn1()">
    Sign in
  </button>
</form>
